---
layout: default
section_id: pages

principles:
- title: Work with Passion
  image: images/value-passion.png
- title: Quality over Quantity
  image: images/value-quality.png
- title: Ask More Questions
  image: images/value-ask-q.png
- title: Keep It Simple
  image: images/value-simple.png


testimonials_left:
- author: Patrick Payne – Former CEO, QuickMobile
  content: “Sahar’s creativity and focus on perfection was instrumental in the success of QuickMobile. She has a deep understanding of artistic beauty, form and structure and all her work demonstrates these aesthetic ideals.”
  avatar: /images/author-patrick.png
- author: Sean Braacx – Product Manager, Left Stuff Inc.
  content: "I have had the pleasure of working with Sahar on multiple design initiatives and highly recommend her work. She is passionate about her craft and can make even the most corporate websites and apps look beautiful."
  avatar: /images/author-sean.jpg
- author: Roohshan Divecha – VP of Client Services, QuickMobile
  content: "Hard working, talented, and very creative, Sahar exhibits that rare blend of expertly managing artistic expression with the demands of business realities. Her design skills are superb, and her ability to execute successfully with near-impossible deadlines is simply amazing. I would recommend working with Sahar unreservedly."
  avatar: /images/author-roohshan.jpg
testimonials_right:
- author: Christine Berka – Human Resources Manager
  content: "I would call Sahar a frontier designer. She is a rare combination of wow-factor graphic design with wide and deep experience in UI/UX, and front-end development for multiple mobile platforms and the web. She is keen to learn anything she doesn’t know and then masters it. She leads with integrity, grace, humility and is deeply respected by her team."
  avatar: /images/author-christine.jpg
- author: James Hsu – Product Manager, Microsoft
  content: "I had a great experience working with Sahar, from when we were both building mobile apps at QuickMobile. At the early stages of the company’s development, Sahar played a key role in defining our signature products and experiences. As a UX Designer, Sahar possessed an excellent understanding of user needs and was adept at translating project goals into reality. I would welcome the opportunity to work with her again, if given the chance."
  avatar: /images/author-james.jpg
---

<div class="full centered-text about">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-12 medium-centered columns">
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-4 columns">
      <img src="/images/sahar-hosseini.jpg" alt="Sahar Hosseini" />
    </div>
    <div class="large-8 columns about-text">
      <p class="bold">I'm Sahar Hosseini</p>
      <p>The digital designer and creative entrepreneur behind Sahar Design</p>
      <p>I have over 12 years of experience of crafting online experiences for companies and brands.
        My goal is to help brands and products tell their stories in a way that’s both inspired and functional.
        From product and UX design, to user interfaces, to art direction, I can handle all aspects of the digital process.</p>

      <p>I’ve worked with Vancouver based companies such as Strutta, QuickMobile, Work at Play, iQmetrix and had the opportunity to work with
        some of the world’s top brands such as Microsoft, Salesforce, Google, Intel, Disney, Accenture, Sundance,
        TCM, MTV and Virgin Holidays.</p>

      <p>Featured: <a href="https://www.smashingmagazine.com/2009/11/69-sexy-portfolio-designs-to-inspire-you/" target="_blank">SmashingMagazine</a>, <a href="https://www.sitepoint.com/color-in-design-singing-the-blues/" target="_blank">Sitepoint</a></p>
    </div>
  </div>
</div>

<div class="section-title">
  <div class="row">
    <div class="medium-10 medium-centered columns">
      <h2>My Values</h2>
      <p>We are happy to work with our clients and let thme happy</p>
    </div>
  </div>
</div>

<div class="row centered-text">
  {% for principle in page.principles %}
    <div class="large-3 columns">
      <div class="principle">
        <img src="{{site.url}}/{{principle.image}}" alt="">
        <p>{{principle.title}}</p>
      </div>
    </div>
  {% endfor %}
</div>

<div class="four spacing"></div>

<div class="centered-text full-image">
  <div class="row">
    <div class="medium-12 medium-centered columns">
      <img src="/images/sahar2.jpg" alt="Sahar Hosseini" />
    </div>
  </div>
</div>

<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Testimonials</h2>
        <p>We are happy to work with our clients and let thme happy</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_left %}
        <div class="quote wow slideInLeft" data-wow-delay="{{ 0.1 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="large-6 columns">
      {% for testimonial in page.testimonials_right %}
        <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.1 | times:forloop.index0 }}s">
          <div class="row">
            <div class="small-3 columns">
              <img src="{{testimonial.avatar}}" alt="auhor">
            </div>
            <div class="small-9 columns">
              <p>{{testimonial.content}}</p>
              <p class="author">{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
