---
layout: default
section_id: portfolio
works_left:
- title: Strutta
  link_to: strutta/
  image: images/work/project-strutta.jpg
  categories: Branding, Web Design, UI/UX

- title: Sidebuy
  link_to: sidebuy/
  image: images/work/project-sidebuy.jpg
  categories: UI/UX

- title: Tagwin
  link_to: tagwin/
  image: images/work/project-tagwin.jpg
  categories: UI/UX

- title: Neekoo Society
  link_to: neekoo/
  image: images/work/project-neekoo.jpg
  categories: Branding, Web Design

- title: Carnotech
  link_to: carnotech/
  image: images/work/project-carnotech.jpg
  categories: Branding, Web Design

works_right:
- title: Dr. Golnaz Golnaraghi
  link_to: golnaz-golnaraghi/
  image: images/work/project-gg.jpg
  categories: Branding, Web Design

- title: SailMail
  link_to: sailmail/
  image: images/work/project-sailmail.jpg
  categories: Branding, Web Design, UI/UX

- title: SherryHak Interior
  link_to: sherryhak/
  image: images/work/project-sherryhak.jpg
  categories: Branding, Web Design

- title: Tandar Tanavoli
  link_to: tandar-tanavoli/
  image: images/work/project-tandar.jpg
  categories: Branding, Web Design

- title: QuickMobile
  link_to: quickmobile/
  image: images/work/project-qm.jpg
  categories: UI/UX

---

<div class="full centered-text works">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-12 medium-centered columns">
        <h1>Work</h1>
      </div>
    </div>
  </div>
</div>

<div class="four spacing"></div>


<div class="full no-padding">
  <div class="row">
    <div class="medium-6 columns">
      {% for work in page.works_left %}
        <div class="work-wrapper">
          <a href="{{work.link_to}}" class="work">
            <img src="{{site.url}}/{{work.image}}" alt="">
            <div class="info">
              <h3>{{work.title}}</h3>
              <p>{{work.categories}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="medium-6 columns">
      {% for work in page.works_right %}
        <div class="work-wrapper">
          <a href="{{work.link_to}}" class="work">
            <img src="{{site.url}}/{{work.image}}" alt="">
            <div class="info">
              <h3>{{work.title}}</h3>
              <p>{{work.categories}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
